<ul>
  <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }"><li class=""><div>Index</div></li></a>
  <a routerLink="/projects" routerLinkActive="selected " [routerLinkActiveOptions]="{ exact: true }"><li class=""><div>Projektek</div></li></a>
  <a routerLink="/contacts" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }"><li class=""><div>Kontaktok</div></li></a>
  <!-- <a routerLink="/market" routerLinkActive="selected"><li class=""><div>Piactér</div></li></a> -->
  <!-- <a routerLink="/account" routerLinkActive="selected"><li class=""><div>Bejelentkezés</div></li></a> -->
</ul>
