:host{
    background-image: url("../../../media/backgrounds/smitd_bg_crystals.png");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}
#projects{
  background-color: rgba(0,0,0,0.5);
}
